
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
    color: #2C3E50;
}

header {
    background: linear-gradient(135deg, #2C3E50, #2e4f70);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #F39C12;
    font-size: 2.5rem;
    margin: 0;
}

header nav a {
    color: #F39C12;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 600;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #E74C3C;
}

h2 {
    color: #2C3E50;
}


main {
    margin: 30px auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    max-width: 1100px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
main h1{
    text-align: center;
}
main h1 + p{
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}

section {
    margin-bottom: 50px;
}

p {
    margin-bottom: 20px;
}

p a{
    color: blue;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    margin-bottom: 12px;
    padding-left: 25px;
    position: relative;
}

ul li:before {
    content: '*';
    color: #E74C3C;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
}



form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

legend{
    font-weight: 600;
    font-size: 1.5rem;
}


form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

form input:focus, form select:focus {
    border-color: #2C3E50;
    outline: none;
}

form input[type="submit"] {
    background-color: #E74C3C;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
    font-weight: 600;
   
}

form input[type="submit"]:hover {
    background-color: #C0392B;
}


table {
    width: 100%;
    border-collapse:collapse;
    margin: 30px 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    border: none;
    text-align: left;
}

table th {
    background-color: #2C3E50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #ECF0F1;
}

table tr:hover {
    background-color: #E74C3C;
    color: white;
}



picture img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



#video-container {
    position: relative;
    width: 100%; 
    max-width: 1200px; 
    margin-bottom: 20px;
}

#video-container video {
    width: 100%;
    height: auto; 
    display: block; 
}



audio {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}


footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer a {
    color: #F39C12;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #E74C3C;
}
